@mixin flex($justify:start) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-around {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

@mixin flex-evenly {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}